/*-----===MAIN===-----*/
article {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
}

/*--=CONTAINER=--*/
.container-lancamentos, .container-promocoes, .container-destaques{
    position: relative;
    min-height: 35em;
    height: 50vh;
    width: 97.5%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 500;
}
/*--=CABEÇALHO CONTAINER=--*/
.carrosel-cabecalho {
    height: 10%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid 1px var(--aqua-medio);
}
.carrosel-cabecalho h2{
    font-size: 32px;
    color: var(--aqua-claro);
}

/*--=Carrossel Conteudo=--*/
.carrossel-conteudo{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--=Carrossel Conteudo=--*/
.carrossel-conteudo{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*--=BOTÃO CARROSEL=--*/
.carrosel-btn {
    width: 100%;
    height: 85%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.prvItem,
.nxtItem {
    height: 3em;
    width: 3em;
    border: solid 2px var(--aqua-medio);
    border-radius: 5em;
    color: var(--aqua-medio);
    font-family: 'Krona One', sans-serif;
    font-size: 22px;
    font-weight: bolder;
    background-color: var(--azul-medio);
    cursor: pointer;
    z-index: 1000;
}

.prvItem.disabled,
.nxtItem.disabled {
    opacity: 0;
    cursor: default;
}
/*--=CARROSEL==-*/
.carrosel-visivel{
    height: 95%;
    z-index: 999;
    width: calc(100% - 75px);
}
.carrosel{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    justify-content: start;
}
/*--==CARD==--*/
.card {
    background-color: var(--azul-medio);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 1%;
    height: 100%;
    flex: 0 0 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .1s ease-in-out;

    overflow: hidden;
}
.categoria {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.categoria-container{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    position: relative;
}
.imagem-produto{
    position: absolute;
    height: 100%;
    z-index: 998;
}
.fav-share{
    transform: translateY(-100px);
    position: absolute;
    height: 30%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    transition: all .1s ease-in-out;
}
.fav-container, .share-container{
    height: 60%;
    width: 25%;
    display: flex;
    align-items: center;
}
.fav-container{justify-content: end;}
.share-container{justify-content: start;}

.hollow-heart, .filled-heart, .filled-share{
    height: 80%;
}
.filled-heart{
    display: none;
}

.categoria-conteudo{
    height: 43%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nome-container{
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.nome {
    height: 100%;
    width: 100%;
    font-family: 'Krona One', sans-serif;
	font-size: 18px;
    color: var(--aqua-claro);
    overflow: hidden;
    line-height: 190%;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número máximo de linhas a serem exibidas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.preco-antes{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    color: var(--aqua-escuro);
}
.preço-final {
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
.preco-depois{
	font-size: 22px;
    color: var(--aqua-medio);
}

.preco{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}
.preco-antes{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: start;
    align-items: self-start;
}
.preco-antes p{
    width: 100%;
    font-size: 12px;
    color: var(--aqua-escuro);
}

.preço-final {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
.vista {
    width: 100%;
    height: 30%;
    font-family: 'Krona One', sans-serif;
    font-size: 10px;
    line-height: 1.5;
    color: var(--aqua-medio);
}
.preco-depois{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
	font-size: 26px;
    color: var(--aqua-medio);
}

.pix{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.pix p{
    font-size: 12px;
    color: var(--aqua-claro);
}

.compras-button{
    height: 9%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comprar-button {
    height: 100%;
    min-width: 110px;
    width: 50%;
    position: relative;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    background: var(--aqua-claro);
    overflow: hidden;
}
.comprar-button h2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    font-size: 14px;
    font-family: 'Krona One', sans-serif;
    color: var(--azul-escuro);
    z-index: 999;
}
.comprar-button-hover-color{
    position: absolute;
    top: 0;
    z-index: 998;
    height: 100%;
    width: 100%;
    background-color: var(--aqua-medio);
    pointer-events: none;
    transform: translateX(-170px);
    transition: all .25s ease-in-out;
}


.categoria-button{
    height: 100%;
    min-width: 50px;
    width: 25%;
    border: solid var(--aqua-medio) .25em;
    border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.categoria-button a{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categoria-button a img{
    /* Temporariamente (usar Krita) */
    filter: invert();
    
    height: 75%;
}

/*-----===EFFECTS===-----*/
.card:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 1px var(--aqua-medio);
}
.card:hover .fav-share{
    transform: translateY(0px);
}


.comprar-button:hover .comprar-button-hover-color{
    transform: translateX(0);
}

.categoria-button:hover{
    background-color: var(--aqua-medio);
}