/*--=CONTAINER=--*/
.container-lancamentos, .container-promocoes, .container-destaques{
    position: relative;
    min-height: 35em;
    height: 50vh;
    width: 97.5%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 500;
}
/*--=CABEÇALHO CONTAINER=--*/
.carrosel-cabecalho {
    height: 10%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.carrosel-cabecalho h2{
    font-size: 28px;
    color: var(--aqua-claro);
}

/*--=Carrossel Conteudo=--*/
.carrossel-conteudo{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--=Carrossel Conteudo=--*/
.carrossel-conteudo{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*--=BOTÃO CARROSEL=--*/
.carrosel-btn {
    width: 100%;
    height: 85%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.prvItem,
.nxtItem {
    height: 4em;
    width: 4em;
    border: none;
    border-radius: 5em;
    color: dodgerblue;
    font-size: 18px;
    font-weight: bolder;
    background-color: rgba(39, 38, 58, 0.526);
    cursor: pointer;
    z-index: 1000;
}

.prvItem.disabled,
.nxtItem.disabled {
    opacity: 0;
    cursor: default;
}
/*--=CARROSEL==-*/
.carrosel-visivel{
    height: 95%;
    z-index: 999;
    width: calc(100% - 75px);
    overflow: hidden;
}
.carrosel{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: transform 0.3s cubic-bezier(0.85, 0.4, 0.4, 0.85);
    justify-content: start;
}
/*--==CARD==--*/
.card {
    background-color: var(--azul-medio);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 1%;
    height: 100%;
    flex: 0 0 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}
.categoria {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.categoria-container{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: white;
}
.categoria-container img{
    height: 100%;
}

.categoria-conteudo{
    height: 48%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.nome-container{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.nome {
    height: 100%;
    width: 100%;
    font-family: 'Krona One', sans-serif;
	font-size: 24px;
    color: var(--aqua-claro);
    display: flex;
    align-items: center;
    justify-content: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.preco-antes{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    color: var(--aqua-escuro);
}
.preço-final {
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
.preco-depois{
	font-size: 24px;
    color: var(--aqua-medio);
}

.preco{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}
.preco-antes{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: start;
    align-items: self-start;
}
.preco-antes p{
    width: 100%;
    font-size: 14px;
    color: var(--aqua-escuro);
}

.preço-final {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
.vista {
    width: 100%;
    height: 30%;
    font-family: 'Krona One', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: var(--aqua-medio);
}
.preco-depois{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
	font-size: 26px;
    color: var(--aqua-medio);
}

.pix{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.pix p{
    font-size: 14px;
    color: var(--aqua-claro);
}

.compras-button{
    height: 9%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comprar-button {
    height: 100%;
    min-width: 110px;
    width: 50%;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    background: var(--azul-claro);
    font-family: 'Krona One', sans-serif;
    color: var(--aqua-claro);
}

.categoria-buttons{
    height: 100%;
    min-width: 50px;
    width: 25%;
    background-color: var(--aqua-escuro);
    border-radius: .3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categoria-buttons a{
    height: 100%;
    width: 30%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categoria-buttons a img{
    /* Temporariamente (usar Krita) */
    filter: invert();
    
    height: 80%;
}