/*-----===AVISOS===-----*/
.avisos{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.campo-vazio, .login-incorreto{
  height: 100px;
  width: 450px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: .75em;
  background-color: var(--aqua-claro);
  z-index: 1000;
}
.campo-vazio h2, .login-incorreto h2{
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
}

/*-----===MAIN===-----*/
main{
  min-height: 550px;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

article{
  min-height: 550px;
  height: 60%;
  width: 450px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/*---=Cadastro Container=--*/
.cadastro-container{
  height: 450px;
  width: 450px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: translateX(-450px);
  transition: all .25s ease-in-out;

  background-color: var(--azul-escuro);
}
.cadastro-container.active{transform: translateX(0px);}

/*---=Login Container=---*/
.login-container{
  height: 400px;
  width: 450px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: translateX(0px);
  transition: all .25s ease-in-out;

  background-color: var(--azul-escuro);
}
.login-container.hidden{transform: translateX(450px);}

/*-TROCAR-*/
.pra-login, .pra-cadastro{
  text-decoration: underline;
  cursor: pointer;
}

#submit-login, #submit-cadastro{
  cursor: pointer;
}









.form-login, .form-cadastro{
  color: white;
}